.appContainer {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 24px;
  color: #010101;
  padding: 20px;
  position: relative; 
}

header {
  z-index: 1; 
  margin-top: 60px; 
}

.welcomeMessage h1 {
  margin-bottom: 20px;
  color: rgb(27, 52, 85);
}

h1 {
  margin-bottom: 20px;
  color: rgb(27, 52, 85);
}
