.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    width: 300px;
  }
  .label {
    margin-bottom: 8px; 
    margin-bottom: 16px;
    font-size: 16px;
    color:rgb(27, 52, 85);
    
  }
  
  .input {
    width: 300px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    margin-top: 8px;
  }
  
  .button {
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    background-color: #495796;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .button:hover {
    background-color: #45a049;
  }